{% extends "base.html.twig" %}
{% block title %}Display characters{% endblock %}
{% block body %}
    <div class="container-fluid">
    {{ form_start(form,{'action':'/'}) }}
        {{ form_errors(form) }}
        <div class="row">
        <div class="col-md-4">
            {{ form_row(form.location) }}
            {{ form_row(form.filter_location) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.episode) }}
            {{ form_row(form.filter_episode) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.dimension) }}
            {{ form_row(form.filter_dimension) }}
        </div>
    </div>

    {{ form_end(form) }}

    {% if data|length > 0 %}
        <p>{{ data.info.count }}  character(s) found </p>

        {% if data.info.next is defined and data.info.next != '' %}
            {% set next = data.info.next|split('=') %}
            {% if next[0] is not empty %}
                <a href="/{{ next[1] }}">>> View next page</a>
            {% endif %}
        {% endif %}
        <br />

        {% if data.info.prev is defined and data.info.prev != '' %}
            {% set prev = data.info.prev|split('=') %}
            {% if next[0] is not empty %}
                <a href="/{{ prev[1] }}"><< View prev page</a>
            {% endif %}
        {% endif %}

        <br />
        <div class="row">
        {%  for d in data['results'] %}
            {%  include 'singleCharacter.html.twig' with {'d': d} %}
        {% endfor %}
        </div>
    {% else %}
        <p>No character found</p>
    {% endif %}

{% endblock %}