{% extends "base.html.twig" %}
{% block title %}Display characters{% endblock %}
{% block body %}
    <div class="container-fluid">
    {{ form_start(form,{'action':'/'}) }}
        {{ form_errors(form) }}
        <div class="row">
        <div class="col-md-4">
            {{ form_row(form.location) }}
            {{ form_row(form.filter_location) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.episode) }}
            {{ form_row(form.filter_episode) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.dimension) }}
            {{ form_row(form.filter_dimension) }}
        </div>
    </div>

    {{ form_end(form) }}
    {% set filtername =  data.filtername is defined ? data.filtername : '' %}

    {% if data.res|length > 0 %}
        <p>
            {% if filtername is not empty %}
                <a href="{{ path('index') }}" title="Remove filter" class="badge badge-info">filter active on  {{  filtername }} [x]</a>
            {% endif %}
        </p>

        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            {% if data.res.info.prev is defined and data.res.info.prev != '' %}
                {% set prev = data.res.info.prev|split('=') %}
                {% if prev[0] is not empty %}
                    <li class="breadcrumb-item"><a href="/{{ prev[1] }}"><<  Previous results</a></li>
                {% endif %}
            {% endif %}
            <li class="breadcrumb-item" aria-current="page">List of characters</li>

            {% if data.res.info.next is defined and data.res.info.next != '' %}
                {% set next = data.res.info.next|split('=') %}
                {% if next[0] is not empty %}
                    <li class="breadcrumb-item"><a href="/{{ next[1] }}">>> Next results</a></li>
                {% endif %}
            {% endif %}




        <br />
        </ol>
        </nav>
        <h2>{{ data.res.info.count }} character(s) found.</h2>
        <div class="row">
        {%  for d in data.res.results %}
            {%  include 'singleCharacter.html.twig' with {'d': d} %}
        {% endfor %}
        </div>

    {% else %}
        <p>No character found</p>
    {% endif %}
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
{% endblock %}