<div class="col-md-3" style="margin-bottom:20px;">
    <div class="card  bg-light "  style="width: 18rem;" >
        <div class="card-header">
            <strong>
                {{ d.name }}</strong> <br /> <small class="text-muted"> id:{{ d.id }}
                |
                created at: {{ d.created|date("d-m-Y") }}

            </small>
        </div>
        <img class="card-img-top" src="{#   d.image #}" alt="Alt image">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Species : {{ d.species }}</li>
                <li class="list-group-item">Origin: {{ d.origin.name }}</li>
                <li class="list-group-item">Status: {{ d.status }}</li>
                <li class="list-group-item">Gender: {{ d.gender }}</li>
                <li class="list-group-item">Last location: {{ d.location.name }}</li>
            </ul>
        </div>
    </div>
</div>